@font-face{

    font-family: 'Gotham Rounded';
    
    src: url('../fonts/GothamRounded-Book.otf');

    font-weight: normal;/* — нормальное начертание*/
    
    /*Определяет начертание шрифта — обычное, курсивное или наклонное.*/
    font-style: normal;/* - обычное начертание текста.*/
    
}
    
@font-face{
    
    font-family: 'Gotham Rounded';
    src: url('../fonts/GothamRounded-Bold.otf');
    font-weight: bold;/*— полужирное начертание*/
    
}

.useless_h1{

    height:0px;
    width:0px;
    padding:0px;
    margin:0px;
    visibility: hidden;

}
    
body{
   
    margin:0px;   
    padding:0px;
   
}

